﻿/*
 * Edit form stylings.
 */
table.featurelist_edit .node-tablefield .form-text {
  margin: 1px 1px 1px 1px;
  padding: 1px 1px 1px 1px;
  width: auto;
}

table.featurelist_edit .node-featurelist .form-item {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

table.featurelist_edit .node-featurelist table {
  width: auto;
}

table.featurelist_edit tr td {
  border-color: #ccc;
  border-style: solid;
  border-width: 0 1px 1px 0;
  margin: 0 0 0 0;
  padding: 7px;
}

table.featurelist_edit tr td {
  vertical-align: bottom;
}

table.featurelist_edit .node-featurelist .featurelist-rebuild {
  margin-top: 0.5em;
}

/*
 * Output Stylings:
 */
div.featurelist-wrapper th.row-0.col-0,
div.featurelist-wrapper tbody {
  background-color: transparent;
  border-color: #c6c6c6;
  border-style: solid;
  border-width: 0 1px 2px 0;
}

div.featurelist-wrapper .sticky-header {
  margin-left: 1px;
}

div.featurelist-wrapper th.col-even,
div.featurelist-wrapper th.col-odd {
  border-color: #c6c6c6;
  border-style: solid;
  border-width: 1px 1px 0 0;
  padding: 6px 5px;
}

div.featurelist-wrapper tr.even,
div.featurelist-wrapper tr.odd {
  background-color: transparent;
  border: 0;
}

div.featurelist-wrapper tr.even:hover td,
div.featurelist-wrapper tr.odd:hover td {
  background-color: #fff;
}

div.featurelist-wrapper tr.even:hover td.col-0,
div.featurelist-wrapper tr.odd:hover td.col-0,
div.featurelist-wrapper tr.even:hover td.col-0 a,
div.featurelist-wrapper tr.odd:hover td.col-0 a {
  color: #009cff;
}

div.featurelist-wrapper tr.even:hover,
div.featurelist-wrapper tr.odd:hover {
  background-color: #ffffff;
  box-shadow: 0 0 6px #c6c6c6;
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

div.featurelist-wrapper td {
  border-bottom: 1px solid #eee;
  padding: 6px 5px;
  text-align: center;
}

div.featurelist-wrapper td.col-0 {
  border-bottom: 0;
  font-weight: bold;
  text-align: right;
}

div.featurelist-wrapper .col-even {
  background-color: #eee;
  border-color: #c6c6c6 #c6c6c6 #fff #c6c6c6;
  border-style: solid;
  border-width: 0 1px 1px 1px;
}

div.featurelist-wrapper th.col-even {
  border-width: 1px 1px 0 1px;
}

div.featurelist-wrapper .col-last {
  border-right: 1px solid #c6c6c6;
}

div.featurelist-wrapper .featurelist-field-text {
  display: block;
}
